---
import { NUMBER_OF_POSTS_PER_PAGE } from '../../server-constants.ts'
import {
  getPosts,
  getRankedPosts,
  getAllTags,
  getNumberOfPages,
} from '../../lib/notion/client.ts'
import Layout from '../../layouts/BlogTopLayout.astro'
import NoContents from '../../components/NoContents.astro'
import PostDate from '../../components/PostDate.astro'
import PostTags from '../../components/PostTags.astro'
import PostTitle from '../../components/PostTitle.astro'
import PostFeaturedImage from '../../components/PostFeaturedImage.astro'
import PostExcerpt from '../../components/PostExcerpt.astro'
import ReadMoreLink from '../../components/ReadMoreLink.astro'
import Pagination from '../../components/Pagination.astro'
import BlogPostsLink from '../../components/BlogPostsLink.astro'
import BlogTagsLink from '../../components/BlogTagsLink.astro'
const [posts, rankedPosts, tags, numberOfPages] = await Promise.all([
  getPosts(NUMBER_OF_POSTS_PER_PAGE),
  getRankedPosts(),
  getAllTags(),
  getNumberOfPages(),
])
---

<Layout>
  <div slot="main">
    <h2 class="ttl">新着記事</h2>
    {
      posts.length === 0 ? (
        <NoContents contents={posts} />
      ) : (
        posts.map((post) => (
          <div key={post.Slug} class="blog-card">
            <PostFeaturedImage post={post} class="blog-card__img" />
            <div class="blog-card__contents">
              <PostTitle post={post} />
              <PostExcerpt post={post} />
              <PostTags post={post} />
              <PostDate post={post} />
              <ReadMoreLink post={post} />
            </div>
          </div>
        ))
      )
    }

    <!-- <Pagination currentPage={1} numberOfPages={numberOfPages} /> -->
  </div>
  <h1>Notionデータベースのデータ</h1>

  <div slot="aside">
    <BlogTagsLink heading="タグ別" tags={tags} />
    <BlogPostsLink heading="おすすめの記事" posts={rankedPosts} />
  </div>
</Layout>

<style>
  body {
    background-color: #edf2f7;
  }
</style>
