---
import Layout from '@/layouts/Layout.astro'
import { Image } from 'astro:assets'
import Button from '@/components/Button.astro'
import MV from '@/components/Mv.astro'
import '@/scss/subpage.scss'
//microCMS呼び出し
import { getWorks } from '@/lib/microcms'
const response = await getWorks({
  fields: ['id', 'title', 'pc_image', 'product_category'],
})
console.log(response)
const title = ''
const description = ''
const og_image = ''
---

<Layout title={title} , description={description} , og_image={og_image}>
  <main id="works-list" class="p-works-list sub-page">
    <MV
      title="制作実績"
      bgImg="/assets/images/works.JPG"
      items={[
        { text: 'TOP', link: '/' },
        { text: '制作実績', link: '/works' }
      ]}
    />
    <section id="works-list-cards" class="p-works-list-cards">
      <div class="l-container">
        <h2>Webサイト制作(案件)</h2>
        <ul>
          {
            response.contents.map((content: any) =>
              content.product_category[0] != 'Webアプリ開発' &&
              content.product_category[0] != 'Webサイト制作(自由制作)' ? (
                <li>
                  <a href={'/works/' + content.id} class="hover__opacity">
                    <Image
                      src={content.pc_image.url}
                      alt={content.title + 'のPC画像'}
                      width={content.pc_image.width}
                      height={content.pc_image.height}
                    />
                  </a>
                  <p>{content.product_category}</p>
                  <a href={'/works/' + content.id} class="hover__underline">{content.title}</a>
                </li>
              ) : null
            )
          }
        </ul>
      </div>
    </section>
    <section id="works-list-cards" class="p-works-list-cards">
      <div class="l-container">
        <h2>Webサイト制作(自由制作)</h2>
        <ul>
          {
            response.contents.map((content: any) =>
              content.product_category[0] === 'Webサイト制作(自由制作)' ? (
                <li>
                  <a href={'/works/' + content.id} class="hover__opacity">
                    <Image
                      src={content.pc_image.url}
                      alt={content.title + 'のPC画像'}
                      width={content.pc_image.width}
                      height={content.pc_image.height}
                    />
                  </a>
                  <p>{content.product_category}</p>
                  <a href={'/works/' + content.id} class="hover__underline">{content.title}</a>
                </li>
              ) : null
            )
          }
        </ul>
      </div>
    </section>
    <section id="works-list-cards" class="p-works-list-cards">
      <div class="l-container">
        <h2>Webアプリケーション開発</h2>
        <ul>
          {
            response.contents.map((content: any) =>
              content.product_category[0] === 'Webアプリ開発' ? (
                <li>
                  <a href={'/works/' + content.id} class="hover__opacity">
                    <Image
                      src={content.pc_image.url}
                      alt={content.title + 'のPC画像'}
                      width={content.pc_image.width}
                      height={content.pc_image.height}
                    />
                  </a>
                  <p>{content.product_category}</p>
                  <a href={'/works/' + content.id} class="hover__underline">{content.title}</a>
                </li>
              ) : null
            )
          }
        </ul>
      </div>
    </section>
  </main>
</Layout>
<style>
  section {
    padding: 45px 0;
  }
  @media (max-width: 767px) {
    section {
      padding: 30px 0;
    }
  }
</style>
