---
import Layout from '@/layouts/Layout.astro'
import { Image } from 'astro:assets'
import Button from '@/components/Button.astro'
import MV from '@/components/Mv.astro'
import WorkCard from '@/components/WorkCard.astro'
//microCMS呼び出し
import { getWorks } from '@/lib/microcms'
const response = await getWorks({
  fields: ['id', 'title', 'pc_image', 'product_category'],
})

const isFreeDev = response.contents.some((i) =>
  i.product_category.includes('Webサイト制作(自由制作)')
)
const isWebApp = response.contents.some((i) =>
  i.product_category.includes('Webアプリ開発')
)

const title = '制作実績'
const description = ''
const og_image = ''
---

<Layout title={title} , description={description} , og_image={og_image}>
  <main id="works-list" class="p-works-list">
    <MV
      title="制作実績"
      bgImg="/assets/images/works.JPG"
      imgClass="web-team__mv__works-bg"
      items={[
        { text: 'TOP', link: '/' },
        { text: '制作実績', link: '/works' },
      ]}
    />
    <section>
      <div class="l-container">
        <p class="web-team__callout my-4 md:my-12">
          サークルを中心に制作実績があります。<br
          />サークルだけでなく、部活動・学生団体・自治体からのご依頼も歓迎しております。
        </p>
      </div>
    </section>
    <section>
      <div class="l-container">
        <h2 class="section-ttl mb-6 md:mb-12">Webサイト制作(案件)</h2>
        <ul class="web-team__work-card">
          {
            response.contents.map((content: any) =>
              content.product_category[0] != 'Webアプリ開発' &&
              content.product_category[0] != 'Webサイト制作(自由制作)' ? (
                <WorkCard
                  id={content.id}
                  imgpath={content.pc_image.url}
                  imgwidth={content.pc_image.width}
                  imgheight={content.pc_image.height}
                  category={content.product_category}
                  title={content.title}
                />
              ) : null
            )
          }
        </ul>
      </div>
    </section>
    {
      isFreeDev ? (
        <section>
          <div class="l-container">
            <h2 class="section-ttl mb-6 md:mb-12">Webサイト制作(自由制作)</h2>
            <ul class="web-team__work-card">
              {response.contents.map((content: any) =>
                content.product_category[0] === 'Webサイト制作(自由制作)' ? (
                  <WorkCard
                    id={content.id}
                    imgpath={content.pc_image.url}
                    imgwidth={content.pc_image.width}
                    imgheight={content.pc_image.height}
                    category={content.product_category}
                    title={content.title}
                  />
                ) : null
              )}
            </ul>
          </div>
        </section>
      ) : isWebApp ? (
        <section>
          <div class="l-container">
            <h2 class="section-ttl mb-6 md:mb-12">Webアプリケーション開発</h2>
            <ul class="web-team__work-card">
              {response.contents.map((content: any) =>
                content.product_category[0] === 'Webアプリ開発' ? (
                  <WorkCard
                    id={content.id}
                    imgpath={content.pc_image.url}
                    imgwidth={content.pc_image.width}
                    imgheight={content.pc_image.height}
                    category={content.product_category}
                    title={content.title}
                  />
                ) : null
              )}
            </ul>
          </div>
        </section>
      ) : null
    }
  </main>
</Layout>
<style></style>
