---
import Layout from '@/layouts/Layout.astro'
import { Image } from 'astro:assets'
import { NUMBER_OF_POSTS_PER_PAGE } from '@/server-constants.ts'
import Button from '@/components/Button.astro'
import NoContents from '@/components/NoContents.astro'
import PostDate from '@/components/PostDate.astro'
import PostTags from '@/components/PostTags.astro'
import PostTitle from '@/components/PostTitle.astro'
import PostFeaturedImage from '@/components/PostFeaturedImage.astro'
import PostExcerpt from '@/components/PostExcerpt.astro'
import ReadMoreLink from '@/components/ReadMoreLink.astro'
import {
  getPosts,
  getRankedPosts,
  getAllTags,
  getNumberOfPages,
} from '@/lib/notion/client.ts'
import dayjs from 'dayjs'
//microCMS呼び出し
import { getNews } from '@/lib/microcms'
const response = await getNews({ fields: ['id', 'title', 'date'] })
// dateプロパティをもとにオブジェクトを降順に並び替える
response.contents.sort(
  (a, b) => new Date(b.date).getTime() - new Date(a.date).getTime()
)

import topImagecenter from '@/assets/images/fv2.jpg'
import topImageright from '@/assets/images/topimage_right.webp'
import topblogImage from '@/assets/images/topblog.webp'
import WAXAPC from '@/assets/images/waxa_pc.png'
import WAXASP from '@/assets/images/WAXA_SP.webp'
import logo from '@/assets/images/logo.svg'
import activity1 from '@/assets/images/activity1.webp'
import activity2 from '@/assets/images/activity2.jpg'
import activity3 from '@/assets/images/activity3.jpg'
import activity4 from '@/assets/images/activity4.jpg'
import activity5 from '@/assets/images/activity5.jpg'
import activity6 from '@/assets/images/activity6.jpg'
import activity7 from '@/assets/images/activity7.jpg'
import activity8 from '@/assets/images/activity8.jpg'
import activity9 from '@/assets/images/activity9.jpg'
import activity10 from '@/assets/images/activity10.jpg'
const activities = [
  activity1,
  activity2,
  activity3,
  activity4,
  activity5,
  activity6,
  activity7,
  activity8,
  activity9,
  activity10,
]
const activitiesWithIndex = activities.map((activity, index) => ({
  ...activity, // 元のオブジェクトを展開
  index    // インデックスを追加
}));

import communication from '@/assets/images/communication.webp'
import programming from '@/assets/images/programming.webp'
import vector from '@/assets/images/Vector.webp'
import rect1 from '@/assets/images/rectangle1.svg'
import '@/scss/blog.scss'

const [posts, rankedPosts, tags, numberOfPages] = await Promise.all([
  getPosts(NUMBER_OF_POSTS_PER_PAGE),
  getRankedPosts(),
  getAllTags(),
  getNumberOfPages(),
])
const dynamicPath = 'posts'
const defaultImg = 'https://www.winc.ne.jp/images/background.jpg'

console.log(posts);
---

<Layout>
  <main>
    <section id="fv" class="p-fv">
      <div class="p-fv__backimg">
        <h1 class="fade">「創る」を楽しめる人になろう</h1>
        <div class="p-fv__backimg__center">
          <Image src={topImagecenter} alt={''} loading="eager" />
        </div>
        <div class="p-fv__backimg__right">
          <Image src={topImageright} alt={''} loading="eager" />
        </div>
      </div>
    </section>

    <section id="about" class="p-about">
      <div class="l-container">
        <h2 class="p-about__spTitle">Webチームとは</h2>
        <div class="p-about__flexbox">
          <div class="p-about__flexbox__txtwrapper">
            <h2>Webチームとは</h2>
            <p>
              Webチームとは早稲田コンピュータ研究会WINCのチームのひとつです。主にWebサイトやWebアプリケーションをチームで開発しています。Webサイトは外部のサークルや団体に対して無償で制作・提供をしており、これまで多くの制作実績があります。Webアプリケーションは、主にNext.jsやAstro.jsなどのJavaScriptのフレームワークを利用して開発します。
              <br
              />Webチームは2022年10月に「Webの楽しさをたくさんの人と共有したい」と思う人々によって立ち上げられました。Web制作をチームで行うのは、他の人と協同して誰かのために何かを創る楽しさを感じるためです。それと同時に、人との関わりの中で、自分自身を成長させ、スキルを高めることを目的としています。Webチームは人と関わり、人の役に立ち、「創る」を楽しめる人になることを目標に活動しています。
            </p>
          </div>
          <div class="p-about__flexbox__imgwrapper">
            <Image src={topblogImage} alt={''} loading="eager" />
          </div>
        </div>
      </div>
    </section>

    <section id="news" class="p-news">
      <h2>更新情報</h2>
      <div class="l-container">
        <ul class="p-news__wrapper">
          {
            response.contents.slice(0, 3).map((content: any) => (
              <li class="p-news__wrapper__card">
                <p>{dayjs(content.date).format('YYYY/MM/DD')}</p>
                <a href={'/news/' + content.id} class="hover__opacity">
                  {content.title}
                </a>
              </li>
            ))
          }
        </ul>
        <Button url="/news/" text="更新情報一覧" color="yellow" />
      </div>
    </section>
  </main>

  <section id="activities" class="p-activities">
    <div class="l-container">
      <h2 class="section-ttl mb-5 lg:mb-0">活動内容</h2>
    </div>
    <div class="l-container">
      <p class="p-activities__number text-right">01</p>
    </div>
    <div class="p-activities__wrapper">
      <div class="l-container">
        <h3>Webサイトの案件制作</h3>
        <Image src={rect1} alt="台形装飾" class="p-activities__wrapper__bg" />
        <div class="p-activities__wrapper__content">
          <div class="fade">
            <p>
              あのイーハトーヴォのすきとおった風、夏でも底に冷たさをもつ青いそら、うつくしい森で飾られたモリーオ市、郊外のぎらぎらひかる草の波。あのイーハトーヴォのすきとおった風、夏でも底に冷たさをもつ青いそら、うつくしい森で飾られたモリーオ市、郊外のぎらぎらひかる草の波。あのイーハトーヴォのすきとおった風、夏でも底に冷たさをもつ青いそら、うつくしい森で飾られたモリーオ市、
            </p>
            <a
              href=""
              class="web-team__link justify-center lg:justify-end hover__opacity"
              >案件制作</a
            >
          </div>
          <div>
            <div
              class="w-full flex items-baseline justify-center mb-5 md:pt-0 pt-5 fade"
            >
              <Image src={WAXAPC} alt="" class="w-8/12 mr-4" />
              <Image src={WAXASP} alt="" class="w-2/12" />
            </div>
            <a
              href="/works/"
              class="web-team__link--white justify-center lg:justify-end hover__opacity"
              >制作実績</a
            >
          </div>
        </div>
      </div>
    </div>
    <div class="l-container">
      <p class="p-activities__number text-left">02</p>
    </div>
    <div class="p-activities__wrapper--reversed">
      <div class="l-container">
        <h3>Webアプリ開発</h3>
        <Image
          src={rect1}
          alt="台形装飾"
          class="p-activities__wrapper--reversed__bg"
        />
        <div class="p-activities__wrapper--reversed__content">
          <div class="px-3 fade">
            <p>
              あのイーハトーヴォのすきとおった風、夏でも底に冷たさをもつ青いそら、うつくしい森で飾られたモリーオ市、郊外のぎらぎらひかる草の波。あのイーハトーヴォのすきとおった風、夏でも底に冷たさをもつ青いそら、うつくしい森で飾られたモリーオ市、郊外のぎらぎらひかる草の波。あのイーハトーヴォのすきとおった風、夏でも底に冷たさをもつ青いそら、うつくしい森で飾られたモリーオ市、
            </p>
          </div>
          <div class="fade">
            <Image src={logo} alt="" />
          </div>
        </div>
      </div>
    </div>
    <div class="l-container">
      <p class="p-activities__number text-right">03</p>
    </div>
    <div class="p-activities__wrapper">
      <div class="l-container">
        <h3>合宿によるハッカソン</h3>
        <Image src={rect1} alt="台形装飾" class="p-activities__wrapper__bg" />
        <div class="p-activities__wrapper__content">
          <div class="px-3 fade">
            <p>
              あのイーハトーヴォのすきとおった風、夏でも底に冷たさをもつ青いそら、うつくしい森で飾られたモリーオ市、郊外のぎらぎらひかる草の波。あのイーハトーヴォのすきとおった風、夏でも底に冷たさをもつ青いそら、うつくしい森で飾られたモリーオ市、郊外のぎらぎらひかる草の波。あのイーハトーヴォのすきとおった風、夏でも底に冷たさをもつ青いそら、うつくしい森で飾られたモリーオ市、
            </p>
            <a
              href=""
              class="web-team__link justify-center lg:justify-end hover__opacity"
              >Webチームの一年</a
            >
          </div>
          <div class="px-0 lg:px-3 fade">
            <!-- flowbite carousel -->
            <div
              id="default-carousel"
              class="relative w-full"
              data-carousel="slide"
            >
              <!-- Carousel wrapper -->
              <div class="relative h-56 overflow-hidden rounded-lg md:h-96">
                {
                  activities.map((i) => (
                    <div
                      class="hidden duration-700 ease-in-out"
                      data-carousel-item
                    >
                      <Image src={i} alt="合宿の画像" />
                    </div>
                  ))
                }
              </div>
              <!-- Slider indicators -->
              <div
                class="absolute z-30 flex -translate-x-1/2 bottom-5 left-1/2 space-x-3 rtl:space-x-reverse"
              >
                {
                  activitiesWithIndex.map((i) =>(
                  <button
                  type="button"
                  class="w-3 h-3 rounded-full"
                  aria-current="true"
                  aria-label={"Slide" + (i.index + 1)}
                  data-carousel-slide-to={i.index}></button>
                  ))
                }
                
              </div>
              <!-- Slider controls -->
              <button
                type="button"
                class="absolute top-0 start-0 z-30 flex items-center justify-center h-full px-4 cursor-pointer group focus:outline-none"
                data-carousel-prev
              >
                <span
                  class="inline-flex items-center justify-center w-10 h-10 rounded-full bg-white/30 dark:bg-gray-800/30 group-hover:bg-white/50 dark:group-hover:bg-gray-800/60 group-focus:ring-4 group-focus:ring-white dark:group-focus:ring-gray-800/70 group-focus:outline-none"
                >
                  <svg
                    class="w-4 h-4 text-white dark:text-gray-800 rtl:rotate-180"
                    aria-hidden="true"
                    xmlns="http://www.w3.org/2000/svg"
                    fill="none"
                    viewBox="0 0 6 10"
                  >
                    <path
                      stroke="currentColor"
                      stroke-linecap="round"
                      stroke-linejoin="round"
                      stroke-width="2"
                      d="M5 1 1 5l4 4"></path>
                  </svg>
                  <span class="sr-only">Previous</span>
                </span>
              </button>
              <button
                type="button"
                class="absolute top-0 end-0 z-30 flex items-center justify-center h-full px-4 cursor-pointer group focus:outline-none"
                data-carousel-next
              >
                <span
                  class="inline-flex items-center justify-center w-10 h-10 rounded-full bg-white/30 dark:bg-gray-800/30 group-hover:bg-white/50 dark:group-hover:bg-gray-800/60 group-focus:ring-4 group-focus:ring-white dark:group-focus:ring-gray-800/70 group-focus:outline-none"
                >
                  <svg
                    class="w-4 h-4 text-white dark:text-gray-800 rtl:rotate-180"
                    aria-hidden="true"
                    xmlns="http://www.w3.org/2000/svg"
                    fill="none"
                    viewBox="0 0 6 10"
                  >
                    <path
                      stroke="currentColor"
                      stroke-linecap="round"
                      stroke-linejoin="round"
                      stroke-width="2"
                      d="m1 9 4-4-4-4"></path>
                  </svg>
                  <span class="sr-only">Next</span>
                </span>
              </button>
            </div>
          </div>
        </div>
      </div>
    </div>
  </section>

  <section id="feature" class="p-feature p-0">
    <div class="p-feature-bg">
      <div class="l-container">
        <h2 class="section-ttl mb-12 lg:mb-0">チームの特徴</h2>
        <div class="p-feature__cardwrapper">
          <div class="p-feature__cardwrapper__card left fade delay-100">
            <div class="p-feature__cardwrapper__card__number">
              <p>01</p>
            </div>
            <Image src={communication} alt={''} />
            <p class="p-feature__cardwrapper__card__ttl">
              ほとんどがプログラミング<br class="sp-br" />未経験
            </p>
            <p class="p-feature__cardwrapper__card__txt">
              あのイーハトーヴォのすきとおった風、夏でも底に冷たさをもつ青いそら、うつくしい森で飾られたモリーオ市、郊外のぎらぎらひかる草の波。あのイーハトーヴォのすきとおった風、夏でも底に冷たさをもつ青いそら、うつくしい森で飾られたモリーオ市、郊外のぎらぎらひかる草の波。
            </p>
          </div>
          <div class="p-feature__cardwrapper__card center fade delay-300">
            <div class="p-feature__cardwrapper__card__number">
              <p>02</p>
            </div>
            <Image src={programming} alt={''} />
            <p class="p-feature__cardwrapper__card__ttl">男女比は7:3</p>
            <p class="p-feature__cardwrapper__card__txt">
              あのイーハトーヴォのすきとおった風、夏でも底に冷たさをもつ青いそら、うつくしい森で飾られたモリーオ市、郊外のぎらぎらひかる草の波。あのイーハトーヴォのすきとおった風、夏でも底に冷たさをもつ青いそら、うつくしい森で飾られたモリーオ市、郊外のぎらぎらひかる草の波。
            </p>
          </div>
          <div class="p-feature__cardwrapper__card right fade delay-500">
            <div class="p-feature__cardwrapper__card__number">
              <p>03</p>
            </div>
            <Image src={vector} alt={''} />
            <p class="p-feature__cardwrapper__card__ttl">インターカレッジ</p>
            <p class="p-feature__cardwrapper__card__txt">
              あのイーハトーヴォのすきとおった風、夏でも底に冷たさをもつ青いそら、うつくしい森で飾られたモリーオ市、郊外のぎらぎらひかる草の波。あのイーハトーヴォのすきとおった風、夏でも底に冷たさをもつ青いそら、うつくしい森で飾られたモリーオ市、郊外のぎらぎらひかる草の波。
            </p>
          </div>
        </div>
      </div>
    </div>
  </section>

  <!-- <section id="schedule" class="p-schedule">
    <p class="p-schedule__ttl">活動日程</p>
  </section> -->

  <section id="blogList" class="p-blogList">
    <div class="l-container">
      <h2 class="section-ttl">Webチームブログ</h2>
    </div>
      <div class="p-blogList__wrapper l-container-sm">
        
        {
          posts.length === 0 ? (
            <NoContents contents={posts} />
          ) : (
            posts.slice(0, 3).map((post) => (
              <div key={post.Slug} class="blog-card">
                <PostFeaturedImage post={post} class="blog-card__img" />
                <div class="blog-card__contents">
                  <PostTitle post={post} />
                  <PostExcerpt post={post} />
                  <PostTags post={post} />
                  <PostDate post={post} />
                  <ReadMoreLink post={post} />
                </div>
              </div>
            ))
          )
        }
      </div>
      <div class="my-10">
        <Button url="/posts/" text="ブログ一覧" color="yellow" />
      </div>
    </div>
  </section>
</Layout>
<script src="/assets/js/main.js" is:inline></script>
