---
import Layout from '@/layouts/Layout.astro'
import { Image } from 'astro:assets'
import { NUMBER_OF_POSTS_PER_PAGE } from '@/server-constants.ts'
import Button from '@/components/Button.astro'
import {
  getPosts,
  getRankedPosts,
  getAllTags,
  getNumberOfPages,
} from '@/lib/notion/client.ts'

import IMG from '@/assets/images/dummy.webp'

const [posts, rankedPosts, tags, numberOfPages] = await Promise.all([
  getPosts(NUMBER_OF_POSTS_PER_PAGE),
  getRankedPosts(),
  getAllTags(),
  getNumberOfPages(),
])
const dynamicPath = 'posts'
const title = ''
const description = ''
const og_image = ''
const defaultImg = 'https://www.winc.ne.jp/images/background.jpg'
console.log(posts)
---

<Layout title={title} , description={description}, og_image={og_image}>
  <main>
    <section id="topblog"class="p-topblog">
      
        <div class="p-topblog__backimg">
          <span style="transform: skewX(-20deg);  display: inline-block;">「創る」を楽しめる人になろう」</span>
        </div>
        <div class="l-container">
        <div class="p-topblog__flexbox">
          <div class="p-topblog__flexbox__txtwrapper">
            <h1>Webチームとは</h1>
            <p>
              あのイーハトーヴォのすきとおった風、夏でも底に冷たさをもつ青いそら、うつ<br>くしい森で飾られたモリーオ市、郊外のぎらぎらひかる草の波。あのイーハトー<br>ヴォのすきとおった風、夏でも底に冷たさをもつ青いそら、うつくしい森で飾られ<br>たモリーオ市、郊外のぎらぎらひかる草の波。あのイーハトーヴォのすきとおった<br>風、夏でも底に冷たさをもつ青いそら、うつくしい森で飾られたモリーオ市、<br>
              あのイーハトーヴォのすきとおった風、夏でも底に冷たさをもつ青いそら、うつ<br>くしい森で飾られたモリーオ市、郊外のぎらぎらひかる草の波。あのイーハトー<br>ヴォのすきとおった風、夏でも底に冷たさをもつ青いそら、うつくしい森で飾られ<br>たモリーオ市、郊外のぎらぎらひかる草の波。あのイーハトーヴォのすきとおった<br>風、夏でも底に冷たさをもつ青いそら、うつくしい森で飾られたモリーオ市、<br>  
            </p>
          </div>
          <Image
          src={IMG}
          alt={"false"}
          />
        </div>
      </div>
      <div class="p-topblog__updateview">
        <h2>更新情報</h2>
        <div class="l-container">
          <ul class="p-topblog__updateview__wrappercards">
            <ul class="p-topblog__updateview__wrappercards__card">
              <li class="p-topblog__updateview__wrappercards__card__date">2024/08/18</li>
              <li><a href="" class="p-topblog__updateview__wrappercards__card__txt">早稲田コンピュータ研究会・WINC WebチームのHPを公開しました</a></li>
            </ul>
            <ul class="p-topblog__updateview__wrappercards__card">
              <li class="p-topblog__updateview__wrappercards__card__date">2024/08/18</li>
              <li><a href="" class="p-topblog__updateview__wrappercards__card__txt">早稲田コンピュータ研究会・WINC WebチームのHPを公開しました</a></li>
            </ul>
            <ul class="p-topblog__updateview__wrappercards__card">
              <li class="p-topblog__updateview__wrappercards__card__date">2024/08/18</li>
              <li><a href="" class="p-topblog__updateview__wrappercards__card__txt">早稲田コンピュータ研究会・WINC WebチームのHPを公開しました</a></li>
            </ul>
          </ul>
          <Button url="/posts/" text="更新情報一覧" color="yellow"/>
        </div>
      </div>
    </section>
    <section id="activities">
      <div class="l-container">
        <div class="activities__wrapper">
          <div class="activities__wrapper__ttl">
            <h3>活動内容</h3>
            <p>01</p>
          </div>
          <p class="activities__cardttl">Webサイトの案件制作</p>
          <div class="activities__card"> 
            <div>
              <p class="activities__card__txt">あのイーハトーヴォのすきとおった風、夏でも底に冷たさをもつ青いそら、う<br>つくしい森で飾られたモリーオ市、郊外のぎらぎらひかる草の波。あのイーハ<br>トーヴォのすきとおった風、夏でも底に冷たさをもつ青いそら、うつくしい森で<br>飾られたモリーオ市、郊外のぎらぎらひかる草の波。あのイーハトーヴォのすき<br>とおった風、夏でも底に冷たさをもつ青いそら、うつくしい森で飾られたモリー<br>オ市、<br>
                あのイーハトーヴォのすきとおった風、夏でも底に冷たさをもつ青いそら、う<br>つくしい森で飾られたモリーオ市、郊外のぎらぎらひかる草の波。あのイーハ<br>トーヴォのすきとおった風、夏でも底に冷たさをもつ青いそら、うつくしい森</p>
              <div class="triangle-button__wrapper">
                <a href="" class="triangle-button__blue">案件製作</a>
              </div>
            </div>
            <div class="activities__flexbox__imgwrapper">
              <Image
              src={IMG}
              alt={"false"}
              class="PC-img"
              />
              <div class="activities__flexbox__imgwrapper__row">
              <Image
                src={IMG}
                alt={"false"}
                class="SP-img"
                />
                <div class="activities__flexbox__imgwrapper__triangle-button__wrapper">
                  <a href="" class="triangle-button__white">製作実績</a>
                </div>
              </div>
            </div>  
            </div>
          </div>
          <p class="middlecardnumber">02</p>
          <div class="activities__middlecard__flexbox">
            <div class="activities__middlecard__flexbox__imgwrapper">
              <div class="activities__middlecard__flexbox__imgwrapper__up">
                <Image
                  src={IMG}
                  alt={"CSS"}
                  class="vertically__long"
                />
                <Image
                  src={IMG}
                  alt={"HTML"}
                  class="vertically__long"
                />
                <Image
                  src={IMG}
                  alt={"flask"}
                  class="horizontally__long"
                />
              </div>
              <div class="activities__middlecard__flexbox__imgwrapper__down">
                <Image
                  src={IMG}
                  alt={"three.js"}
                  class="horizontally__long"
                />
                <Image
                  src={IMG}
                  alt={"Astro"}
                  class="horizontally__long"
                />
              </div>
            </div>
            <p class="activities__middlecard__flexbox__txt">あのイーハトーヴォのすきとおった風、夏でも底に冷たさをもつ青いそら、う<br>つくしい森で飾られたモリーオ市、郊外のぎらぎらひかる草の波。あのイーハ<br>トーヴォのすきとおった風、夏でも底に冷たさをもつ青いそら、うつくしい森で<br>飾られたモリーオ市、郊外のぎらぎらひかる草の波。あのイーハトーヴォのすき<br>とおった風、夏でも底に冷たさをもつ青いそら、うつくしい森で飾られたモリー<br>オ市、<br>
              あのイーハトーヴォのすきとおった風、夏でも底に冷たさをもつ青いそら、う<br>つくしい森で飾られたモリーオ市、郊外のぎらぎらひかる草の波。あのイーハ<br>トーヴォのすきとおった風、夏でも底に冷たさをもつ青いそら、うつくしい森</p>     
          </div>
          <p class="bottomcardnumber">03</p>
          <div class="activities__bottomcard">
            <div>
              <p class="activities__cardttl">合宿によるハッカソン</p>
              <p class="activities__bottomcard__txt">あのイーハトーヴォのすきとおった風、夏でも底に冷たさをもつ青いそら、う<br>つくしい森で飾られたモリーオ市、郊外のぎらぎらひかる草の波。あのイーハ<br>トーヴォのすきとおった風、夏でも底に冷たさをもつ青いそら、うつくしい森で<br>飾られたモリーオ市、郊外のぎらぎらひかる草の波。あのイーハトーヴォのすき<br>とおった風、夏でも底に冷たさをもつ青いそら、うつくしい森で飾られたモリー<br>オ市、<br>
                あのイーハトーヴォのすきとおった風、夏でも底に冷たさをもつ青いそら、う<br>つくしい森で飾られたモリーオ市、郊外のぎらぎらひかる草の波。あのイーハ<br>トーヴォのすきとおった風、夏でも底に冷たさをもつ青いそら、うつくしい森</p>     
            </div>
            <Image
            src={IMG}
            alt={"Astro"}              
            />
          </div>
        </div>
      </div>
    </section>
    <section id="blogList" class="p-blogList">
      <div class="l-container">
        <div class="p-blogList__wrapper">
          {
            posts.slice(0, 3).map((post) => (
              <a href={`${dynamicPath}/${post.Slug}`} class="p-blogList__card">
                <Image
                  src={post?.FeaturedImage?.Url ?? defaultImg}
                  alt={post.Title}
                  width="350"
                  height="196"
                />
                <div class="p-blogList__card__text">
                  <h5>{post.Date}</h5>
                  <h4>{post.Title}</h4>
                  <p>{post.Excerpt}</p>
                </div>
              </a>
            ))
          }
        </div>
        <div class="my-10">
          <Button url="/posts/" text="ブログ一覧" color="yellow"/>
        </div>
      </div>
    </section>
    <footer>
      <div class="flexbox-top">
        <a href="" >TOP</a>
        <a href="" >Webチームの一年</a>
        <a href="" >得られる経験</a>
        <a href="" >製作実績</a>
        <a href="" >案件製作</a>
        <a href="" >ブログ</a>
        <a href="" >更新情報一覧</a>

        <p>© 2024 Copyright: </p>
        <a href="" >コンピュータ研究会・WINC</a>
      </div>
      <div class="flexbox-bottom">
        <p>早稲田コンピュータ研究会　WINC</p>
        <Image
         src={IMG}
         alt={"Astro"}
        />
      </div>
    </footer>
  </main>
</Layout>
