---
import Layout from '@/layouts/Layout.astro'
import { Image } from 'astro:assets'
import { NUMBER_OF_POSTS_PER_PAGE } from '@/server-constants.ts'
import Button from '@/components/Button.astro'
import {
  getPosts,
  getRankedPosts,
  getAllTags,
  getNumberOfPages,
} from '@/lib/notion/client.ts'

import IMG from '@/assets/images/dummy.webp'
import topImagecenter from '@/assets/images/topimage_center.jpg'
import topImageright from '@/assets/images/topimage_right.webp'
import topblogImage from '@/assets/images/topblog.webp'
import WAXAPC from '@/assets/images/WAXA_PC.webp'
import WAXASP from '@/assets/images/WAXA_SP.webp'
import CSS from '@/assets/images/CSS_logo.webp'
import HTML from '@/assets/images/HTML5_logo.webp'
import Flask from '@/assets/images/cover-flask.webp'
import astro from '@/assets/images/astro_logo.webp'
import three from '@/assets/images/three.js.webp'
import activities from '@/assets/images/activities_img.webp'
import communication from '@/assets/images/communication.webp'
import programming from '@/assets/images/programming.webp'
import vector from '@/assets/images/Vector.webp'
import webteamlogo from '@/assets/images/webteam_logo.webp'
import rect1 from '@/assets/images/rectangle1.svg'

const [posts, rankedPosts, tags, numberOfPages] = await Promise.all([
  getPosts(NUMBER_OF_POSTS_PER_PAGE),
  getRankedPosts(),
  getAllTags(),
  getNumberOfPages(),
])
const dynamicPath = 'posts'
const title = ''
const description = ''
const og_image = ''
const defaultImg = 'https://www.winc.ne.jp/images/background.jpg'
---

<Layout title={title} , description={description} , og_image={og_image}>
  <main>
    <section id="fv" class="p-fv">
      <div class="p-fv__backimg">
        <h1>「創る」を楽しめる人になろう</h1>
        <div class="p-fv__backimg__center">
          <Image src={topImagecenter} alt={''} />
        </div>
        <div class="p-fv__backimg__right">
          <Image src={topImageright} alt={''} />
        </div>
      </div>
    </section>

    <section id="about" class="p-about">
      <div class="l-container">
        <h2 class="p-about__spTitle">Webチームとは</h2>
        <div class="p-about__flexbox">
          <div class="p-about__flexbox__txtwrapper">
            <h2>Webチームとは</h2>
            <p>
              あのイーハトーヴォのすきとおった風、夏でも底に冷たさをもつ青いそら、うつくしい森で飾られたモリーオ市、郊外のぎらぎらひかる草の波。あのイーハトーヴォのすきとおった風、夏でも底に冷たさをもつ青いそら、うつくしい森で飾られたモリーオ市、郊外のぎらぎらひかる草の波。あのイーハトーヴォのすきとおった風、夏でも底に冷たさをもつ青いそら、うつくしい森で飾られたモリーオ市、
            </p>
          </div>
          <div class="p-about__flexbox__imgwrapper">
            <Image src={topblogImage} alt={''} />
          </div>
        </div>
      </div>
    </section>

    <section id="news" class="p-news">
      <h2>更新情報</h2>
      <div class="l-container">
        <ul class="p-news__wrapper">
          <li class="p-news__wrapper__card">
            <p>2024/08/18</p>
            <a href=""
              >早稲田コンピュータ研究会・WINC WebチームのHPを公開しました</a
            >
          </li>
          <li class="p-news__wrapper__card">
            <p>2024/08/18</p>
            <a href=""
              >早稲田コンピュータ研究会・WINC WebチームのHPを公開しました</a
            >
          </li>
          <li class="p-news__wrapper__card">
            <p>2024/08/18</p>
            <a href=""
              >早稲田コンピュータ研究会・WINC WebチームのHPを公開しました</a
            >
          </li>
        </ul>
        <Button url="/posts/" text="更新情報一覧" color="yellow" />
      </div>
    </section>
  </main>

  <section id="activities" class="p-activities">
      <div class="l-container">
        <h2 class="section-ttl">活動内容</h2>
      </div>
      <p class="p-activities__number">01</p>
      <div class="p-activities__wrapper">
        <div class="l-container">
          <h3>Webサイトの案件制作</h3>
          <Image src={rect1} alt="台形装飾" class="p-activities__wrapper__bg"/>
          <div class="p-activities__wrapper__content">
            <p>あのイーハトーヴォのすきとおった風、夏でも底に冷たさをもつ青いそら、うつくしい森で飾られたモリーオ市、郊外のぎらぎらひかる草の波。あのイーハトーヴォのすきとおった風、夏でも底に冷たさをもつ青いそら、うつくしい森で飾られたモリーオ市、郊外のぎらぎらひかる草の波。あのイーハトーヴォのすきとおった風、夏でも底に冷たさをもつ青いそら、うつくしい森で飾られたモリーオ市、</p>
            <div>
              <Image src={topblogImage} alt="" />
            </div>
          </div>
        </div>
      </div>
  </section>

  <section id="feature" class="p-feature">
    <div class="p-feature-bg">
      <div class="l-container">
        <h2 class="section-ttl">チームの特徴</h2>
        <div class="p-feature__cardwrapper">
          <div class="p-feature__cardwrapper__card left">
            <div class="p-feature__cardwrapper__card__number">
              <p>01</p>
            </div>
            <Image src={communication} alt={''} />
            <p class="p-feature__cardwrapper__card__ttl">
              ほとんどがプログラミング<br class="sp-br" />未経験
            </p>
            <p class="p-feature__cardwrapper__card__txt">
              あのイーハトーヴォのすきと<br class="sp-br" />おった風、夏<br
                class="pc-br"
              />でも底に冷たさ<br class="sp-br" />をもつ青いそら、うつくし<br
                class="pc-br"
              />い<br class="sp-br" />森で飾られたモリーオ市、郊<br
                class="sp-br"
              />外のぎらぎ<br class="pc-br" />らひかる草の波。<br
                class="sp-br"
              />あのイーハトーヴォのす<br class="pc-br" />きと<br
                class="sp-br"
              />おった風、夏でも底に冷たさ<br class="sp-br" />をもつ青<br
                class="pc-br"
              />いそら、うつくしい<br class="sp-br" />森で飾られたモリーオ<br
                class="pc-br"
              />市、郊<br class="sp-br" />外のぎらぎらひかる草の波。
            </p>
          </div>
          <div class="p-feature__cardwrapper__card center">
            <div class="p-feature__cardwrapper__card__number">
              <p>02</p>
            </div>
            <Image src={programming} alt={''} />
            <p class="p-feature__cardwrapper__card__ttl">男女比は7:3</p>
            <p class="p-feature__cardwrapper__card__txt">
              あのイーハトーヴォのすきと<br class="sp-br" />おった風、夏<br
                class="pc-br"
              />でも底に冷たさ<br class="sp-br" />をもつ青いそら、うつくし<br
                class="pc-br"
              />い<br class="sp-br" />森で飾られたモリーオ市、郊<br
                class="sp-br"
              />外のぎらぎ<br class="pc-br" />らひかる草の波。<br
                class="sp-br"
              />あのイーハトーヴォのす<br class="pc-br" />きと<br
                class="sp-br"
              />おった風、夏でも底に冷たさ<br class="sp-br" />をもつ青<br
                class="pc-br"
              />いそら、うつくしい<br class="sp-br" />森で飾られたモリーオ<br
                class="pc-br"
              />市、郊<br class="sp-br" />外のぎらぎらひかる草の波。
            </p>
          </div>
          <div class="p-feature__cardwrapper__card right">
            <div class="p-feature__cardwrapper__card__number">
              <p>03</p>
            </div>
            <Image src={vector} alt={''} />
            <p class="p-feature__cardwrapper__card__ttl">インターカレッジ</p>
            <p class="p-feature__cardwrapper__card__txt">
              あのイーハトーヴォのすきと<br class="sp-br" />おった風、夏<br
                class="pc-br"
              />でも底に冷たさ<br class="sp-br" />をもつ青いそら、うつくし<br
                class="pc-br"
              />い<br class="sp-br" />森で飾られたモリーオ市、郊<br
                class="sp-br"
              />外のぎらぎ<br class="pc-br" />らひかる草の波。<br
                class="sp-br"
              />あのイーハトーヴォのす<br class="pc-br" />きと<br
                class="sp-br"
              />おった風、夏でも底に冷たさ<br class="sp-br" />をもつ青<br
                class="pc-br"
              />いそら、うつくしい<br class="sp-br" />森で飾られたモリーオ<br
                class="pc-br"
              />市、郊<br class="sp-br" />外のぎらぎらひかる草の波。
            </p>
          </div>
        </div>
      </div>
    </div>
  </section>

  <section id="schedule" class="p-schedule">
    <p class="p-schedule__ttl">活動日程</p>
  </section>

  <section id="blogList" class="p-blogList">
    <div class="l-container">
      <h2 class="section-ttl">Webチームブログ</h2>
      <div class="p-blogList__wrapper">
        {
          posts.slice(0, 3).map((post) => (
            <a href={`${dynamicPath}/${post.Slug}`} class="p-blogList__card">
              <Image
                src={post?.FeaturedImage?.Url ?? defaultImg}
                alt={post.Title}
                width="350"
                height="196"
              />
              <div class="p-blogList__card__text">
                <h5>{post.Date}</h5>
                <h4>{post.Title}</h4>
                <p>{post.Excerpt}</p>
              </div>
            </a>
          ))
        }
      </div>
      <div class="my-10">
        <Button url="/posts/" text="ブログ一覧" color="yellow" />
      </div>
    </div>
  </section>
</Layout>
