---
import Layout from '@/layouts/Layout.astro'
import { Image } from 'astro:assets'
import { NUMBER_OF_POSTS_PER_PAGE } from '@/server-constants.ts'
import Button from '@/components/Button.astro'
import {
  getPosts,
  getRankedPosts,
  getAllTags,
  getNumberOfPages,
} from '@/lib/notion/client.ts'

import IMG from '@/assets/images/dummy.webp'
import topImagecenter from '@/assets/images/fv2.jpg'
import topImageright from '@/assets/images/topimage_right.webp'
import topblogImage from '@/assets/images/topblog.webp'
import WAXAPC from '@/assets/images/waxa_pc.png'
import WAXASP from '@/assets/images/waxa_sp.webp'
import logo from '@/assets/images/logo.svg'
import activities from '@/assets/images/activities_img.webp'
import communication from '@/assets/images/communication.webp'
import programming from '@/assets/images/programming.webp'
import vector from '@/assets/images/Vector.webp'
import rect1 from '@/assets/images/rectangle1.svg'

const [posts, rankedPosts, tags, numberOfPages] = await Promise.all([
  getPosts(NUMBER_OF_POSTS_PER_PAGE),
  getRankedPosts(),
  getAllTags(),
  getNumberOfPages(),
])
const dynamicPath = 'posts'
const title = ''
const description = ''
const og_image = ''
const defaultImg = 'https://www.winc.ne.jp/images/background.jpg'
---

<Layout title={title} , description={description} , og_image={og_image}>
  <main>
    <section id="fv" class="p-fv">
      <div class="p-fv__backimg">
        <h1 class="fade">「創る」を楽しめる人になろう</h1>
        <div class="p-fv__backimg__center">
          <Image src={topImagecenter} alt={''} loading="eager" />
        </div>
        <div class="p-fv__backimg__right">
          <Image src={topImageright} alt={''} loading="eager" />
        </div>
      </div>
    </section>

    <section id="about" class="p-about">
      <div class="l-container">
        <h2 class="p-about__spTitle">Webチームとは</h2>
        <div class="p-about__flexbox">
          <div class="p-about__flexbox__txtwrapper">
            <h2>Webチームとは</h2>
            <p>
              あのイーハトーヴォのすきとおった風、夏でも底に冷たさをもつ青いそら、うつくしい森で飾られたモリーオ市、郊外のぎらぎらひかる草の波。あのイーハトーヴォのすきとおった風、夏でも底に冷たさをもつ青いそら、うつくしい森で飾られたモリーオ市、郊外のぎらぎらひかる草の波。あのイーハトーヴォのすきとおった風、夏でも底に冷たさをもつ青いそら、うつくしい森で飾られたモリーオ市、
            </p>
          </div>
          <div class="p-about__flexbox__imgwrapper">
            <Image src={topblogImage} alt={''} loading="eager" />
          </div>
        </div>
      </div>
    </section>

    <section id="news" class="p-news">
      <h2>更新情報</h2>
      <div class="l-container">
        <ul class="p-news__wrapper">
          <li class="p-news__wrapper__card">
            <p>2024/08/18</p>
            <a href=""
              >早稲田コンピュータ研究会・WINC WebチームのHPを公開しました</a
            >
          </li>
          <li class="p-news__wrapper__card">
            <p>2024/08/18</p>
            <a href=""
              >早稲田コンピュータ研究会・WINC WebチームのHPを公開しました</a
            >
          </li>
          <li class="p-news__wrapper__card">
            <p>2024/08/18</p>
            <a href=""
              >早稲田コンピュータ研究会・WINC WebチームのHPを公開しました</a
            >
          </li>
        </ul>
        <Button url="/posts/" text="更新情報一覧" color="yellow" />
      </div>
    </section>
  </main>

  <section id="activities" class="p-activities">
    <div class="l-container">
      <h2 class="section-ttl">活動内容</h2>
    </div>
    <div class="l-container">
      <p class="p-activities__number text-right">01</p>
    </div>
    <div class="p-activities__wrapper">
      <div class="l-container">
        <h3>Webサイトの案件制作</h3>
        <Image src={rect1} alt="台形装飾" class="p-activities__wrapper__bg" />
        <div class="p-activities__wrapper__content">
          <div class="fade">
            <p>
              あのイーハトーヴォのすきとおった風、夏でも底に冷たさをもつ青いそら、うつくしい森で飾られたモリーオ市、郊外のぎらぎらひかる草の波。あのイーハトーヴォのすきとおった風、夏でも底に冷たさをもつ青いそら、うつくしい森で飾られたモリーオ市、郊外のぎらぎらひかる草の波。あのイーハトーヴォのすきとおった風、夏でも底に冷たさをもつ青いそら、うつくしい森で飾られたモリーオ市、
            </p>
            <a
              href=""
              class="web-team__link justify-center lg:justify-end hover__opacity"
              >案件制作</a
            >
          </div>
          <div>
            <div
              class="w-full flex items-baseline justify-center mb-5 md:pt-0 pt-5 fade"
            >
              <Image src={WAXAPC} alt="" class="w-8/12 mr-4" />
              <Image src={WAXASP} alt="" class="w-2/12" />
            </div>
            <a
              href="/works/"
              class="web-team__link--white justify-center lg:justify-end hover__opacity"
              >制作実績</a
            >
          </div>
        </div>
      </div>
    </div>
    <div class="l-container">
      <p class="p-activities__number text-left">02</p>
    </div>
    <div class="p-activities__wrapper--reversed">
      <div class="l-container">
        <h3>Webアプリ開発</h3>
        <Image
          src={rect1}
          alt="台形装飾"
          class="p-activities__wrapper--reversed__bg"
        />
        <div class="p-activities__wrapper--reversed__content">
          <div class="px-3 fade">
            <p>
              あのイーハトーヴォのすきとおった風、夏でも底に冷たさをもつ青いそら、うつくしい森で飾られたモリーオ市、郊外のぎらぎらひかる草の波。あのイーハトーヴォのすきとおった風、夏でも底に冷たさをもつ青いそら、うつくしい森で飾られたモリーオ市、郊外のぎらぎらひかる草の波。あのイーハトーヴォのすきとおった風、夏でも底に冷たさをもつ青いそら、うつくしい森で飾られたモリーオ市、
            </p>
          </div>
          <div class="fade">
            <Image src={logo} alt="" />
          </div>
        </div>
      </div>
    </div>
    <div class="l-container">
      <p class="p-activities__number text-right">03</p>
    </div>
    <div class="p-activities__wrapper">
      <div class="l-container">
        <h3>合宿によるハッカソン</h3>
        <Image src={rect1} alt="台形装飾" class="p-activities__wrapper__bg" />
        <div class="p-activities__wrapper__content">
          <div class="px-3 fade">
            <p>
              あのイーハトーヴォのすきとおった風、夏でも底に冷たさをもつ青いそら、うつくしい森で飾られたモリーオ市、郊外のぎらぎらひかる草の波。あのイーハトーヴォのすきとおった風、夏でも底に冷たさをもつ青いそら、うつくしい森で飾られたモリーオ市、郊外のぎらぎらひかる草の波。あのイーハトーヴォのすきとおった風、夏でも底に冷たさをもつ青いそら、うつくしい森で飾られたモリーオ市、
            </p>
            <a
              href=""
              class="web-team__link justify-center lg:justify-end hover__opacity"
              >Webチームの一年</a
            >
          </div>
          <div class="px-0 md:px-3 fade">
            <!-- flowbite carousel -->
            <div
              id="default-carousel"
              class="relative w-full"
              data-carousel="slide"
            >
              <!-- Carousel wrapper -->
              <div class="relative h-56 overflow-hidden rounded-lg md:h-96">
                <!-- Item 1 -->
                <div class="hidden duration-700 ease-in-out" data-carousel-item>
                  <Image src={activities} alt="合宿の画像" />
                </div>
                <!-- Item 2 -->
                <div class="hidden duration-700 ease-in-out" data-carousel-item>
                  <Image src={activities} alt="合宿の画像" />
                </div>
                <!-- Item 3 -->
                <div class="hidden duration-700 ease-in-out" data-carousel-item>
                  <Image src={activities} alt="合宿の画像" />
                </div>
                <!-- Item 4 -->
                <div class="hidden duration-700 ease-in-out" data-carousel-item>
                  <Image src={activities} alt="合宿の画像" />
                </div>
                <!-- Item 5 -->
                <div class="hidden duration-700 ease-in-out" data-carousel-item>
                  <Image src={activities} alt="合宿の画像" />
                </div>
              </div>
              <!-- Slider indicators -->
              <div
                class="absolute z-30 flex -translate-x-1/2 bottom-5 left-1/2 space-x-3 rtl:space-x-reverse"
              >
                <button
                  type="button"
                  class="w-3 h-3 rounded-full"
                  aria-current="true"
                  aria-label="Slide 1"
                  data-carousel-slide-to="0"></button>
                <button
                  type="button"
                  class="w-3 h-3 rounded-full"
                  aria-current="false"
                  aria-label="Slide 2"
                  data-carousel-slide-to="1"></button>
                <button
                  type="button"
                  class="w-3 h-3 rounded-full"
                  aria-current="false"
                  aria-label="Slide 3"
                  data-carousel-slide-to="2"></button>
                <button
                  type="button"
                  class="w-3 h-3 rounded-full"
                  aria-current="false"
                  aria-label="Slide 4"
                  data-carousel-slide-to="3"></button>
                <button
                  type="button"
                  class="w-3 h-3 rounded-full"
                  aria-current="false"
                  aria-label="Slide 5"
                  data-carousel-slide-to="4"></button>
              </div>
              <!-- Slider controls -->
              <button
                type="button"
                class="absolute top-0 start-0 z-30 flex items-center justify-center h-full px-4 cursor-pointer group focus:outline-none"
                data-carousel-prev
              >
                <span
                  class="inline-flex items-center justify-center w-10 h-10 rounded-full bg-white/30 dark:bg-gray-800/30 group-hover:bg-white/50 dark:group-hover:bg-gray-800/60 group-focus:ring-4 group-focus:ring-white dark:group-focus:ring-gray-800/70 group-focus:outline-none"
                >
                  <svg
                    class="w-4 h-4 text-white dark:text-gray-800 rtl:rotate-180"
                    aria-hidden="true"
                    xmlns="http://www.w3.org/2000/svg"
                    fill="none"
                    viewBox="0 0 6 10"
                  >
                    <path
                      stroke="currentColor"
                      stroke-linecap="round"
                      stroke-linejoin="round"
                      stroke-width="2"
                      d="M5 1 1 5l4 4"></path>
                  </svg>
                  <span class="sr-only">Previous</span>
                </span>
              </button>
              <button
                type="button"
                class="absolute top-0 end-0 z-30 flex items-center justify-center h-full px-4 cursor-pointer group focus:outline-none"
                data-carousel-next
              >
                <span
                  class="inline-flex items-center justify-center w-10 h-10 rounded-full bg-white/30 dark:bg-gray-800/30 group-hover:bg-white/50 dark:group-hover:bg-gray-800/60 group-focus:ring-4 group-focus:ring-white dark:group-focus:ring-gray-800/70 group-focus:outline-none"
                >
                  <svg
                    class="w-4 h-4 text-white dark:text-gray-800 rtl:rotate-180"
                    aria-hidden="true"
                    xmlns="http://www.w3.org/2000/svg"
                    fill="none"
                    viewBox="0 0 6 10"
                  >
                    <path
                      stroke="currentColor"
                      stroke-linecap="round"
                      stroke-linejoin="round"
                      stroke-width="2"
                      d="m1 9 4-4-4-4"></path>
                  </svg>
                  <span class="sr-only">Next</span>
                </span>
              </button>
            </div>
          </div>
        </div>
      </div>
    </div>
  </section>

  <section id="feature" class="p-feature p-0">
    <div class="p-feature-bg">
      <div class="l-container">
        <h2 class="section-ttl">チームの特徴</h2>
        <div class="p-feature__cardwrapper">
          <div class="p-feature__cardwrapper__card left fade delay-100">
            <div class="p-feature__cardwrapper__card__number">
              <p>01</p>
            </div>
            <Image src={communication} alt={''} />
            <p class="p-feature__cardwrapper__card__ttl">
              ほとんどがプログラミング<br class="sp-br" />未経験
            </p>
            <p class="p-feature__cardwrapper__card__txt">
              あのイーハトーヴォのすきとおった風、夏でも底に冷たさをもつ青いそら、うつくしい森で飾られたモリーオ市、郊外のぎらぎらひかる草の波。あのイーハトーヴォのすきとおった風、夏でも底に冷たさをもつ青いそら、うつくしい森で飾られたモリーオ市、郊外のぎらぎらひかる草の波。
            </p>
          </div>
          <div class="p-feature__cardwrapper__card center fade delay-300">
            <div class="p-feature__cardwrapper__card__number">
              <p>02</p>
            </div>
            <Image src={programming} alt={''} />
            <p class="p-feature__cardwrapper__card__ttl">男女比は7:3</p>
            <p class="p-feature__cardwrapper__card__txt">
              あのイーハトーヴォのすきとおった風、夏でも底に冷たさをもつ青いそら、うつくしい森で飾られたモリーオ市、郊外のぎらぎらひかる草の波。あのイーハトーヴォのすきとおった風、夏でも底に冷たさをもつ青いそら、うつくしい森で飾られたモリーオ市、郊外のぎらぎらひかる草の波。
            </p>
          </div>
          <div class="p-feature__cardwrapper__card right fade delay-500">
            <div class="p-feature__cardwrapper__card__number">
              <p>03</p>
            </div>
            <Image src={vector} alt={''} />
            <p class="p-feature__cardwrapper__card__ttl">インターカレッジ</p>
            <p class="p-feature__cardwrapper__card__txt">
              あのイーハトーヴォのすきとおった風、夏でも底に冷たさをもつ青いそら、うつくしい森で飾られたモリーオ市、郊外のぎらぎらひかる草の波。あのイーハトーヴォのすきとおった風、夏でも底に冷たさをもつ青いそら、うつくしい森で飾られたモリーオ市、郊外のぎらぎらひかる草の波。
            </p>
          </div>
        </div>
      </div>
    </div>
  </section>

  <!-- <section id="schedule" class="p-schedule">
    <p class="p-schedule__ttl">活動日程</p>
  </section> -->

  <section id="blogList" class="p-blogList">
    <div class="l-container">
      <h2 class="section-ttl">Webチームブログ</h2>
      <div class="p-blogList__wrapper">
        {
          posts.slice(0, 3).map((post) => (
            <a href={`${dynamicPath}/${post.Slug}`} class="p-blogList__card fade">
              <Image
                src={post?.FeaturedImage?.Url ?? defaultImg}
                alt={post.Title}
                width="350"
                height="196"
              />
              <div class="p-blogList__card__text">
                <h5>{post.Date}</h5>
                <h4>{post.Title}</h4>
                <p>{post.Excerpt}</p>
              </div>
            </a>
          ))
        }
      </div>
      <div class="my-10">
        <Button url="/posts/" text="ブログ一覧" color="yellow" />
      </div>
    </div>
  </section>
</Layout>
<script src="/assets/js/main.js" is:inline></script>
