---
import Layout from '@/layouts/Layout.astro'
import { Image } from 'astro:assets'
import { NUMBER_OF_POSTS_PER_PAGE } from '@/server-constants.ts'
import Button from '@/components/Button.astro'
import {
  getPosts,
  getRankedPosts,
  getAllTags,
  getNumberOfPages,
} from '@/lib/notion/client.ts'
const [posts, rankedPosts, tags, numberOfPages] = await Promise.all([
  getPosts(NUMBER_OF_POSTS_PER_PAGE),
  getRankedPosts(),
  getAllTags(),
  getNumberOfPages(),
])
const dynamicPath = 'posts'
const title = ''
const description = ''
const og_image = ''
const defaultImg = 'https://www.winc.ne.jp/images/background.jpg'
console.log(posts)
---

<Layout title={title} , description={description} og_image={og_image}>
  <main>
    <section id="blogList" class="p-blogList">
      <div class="l-container">
        <div class="p-blogList__wrapper">
          {
            posts.slice(0, 3).map((post) => (
              <a href={`${dynamicPath}/${post.Slug}`} class="p-blogList__card">
                <Image
                  src={post?.FeaturedImage?.Url ?? defaultImg}
                  alt={post.Title}
                  width="350"
                  height="196"
                />
                <div class="p-blogList__card__text">
                  <h5>{post.Date}</h5>
                  <h4>{post.Title}</h4>
                  <p>{post.Excerpt}</p>
                </div>
              </a>
            ))
          }
        </div>
        <div class="my-10">
          <Button url="/posts/" text="ブログ一覧" color="yellow"/>
        </div>
      </div>
    </section>
  </main>
</Layout>
