---
import { Image } from 'astro:assets'
import Layout from '@/layouts/Layout.astro'
import MV from '@/components/Mv.astro'
import '@/scss/subpage.scss'
//microCMS呼び出し
import { getNews, getNewsDetail } from '@/lib/microcms'

// ニュースページの全パスを取得
export async function getStaticPaths() {
  const response = await getNews({ fields: ['id'] })
  return response.contents.map((content: any) => ({
    params: {
      newsId: content.id,
    },
  }))
}
//ニュースの詳細情報を取得
const { newsId } = Astro.params
const news = await getNewsDetail(newsId as string)

console.log(news)
const title = ''
const description = ''
const og_image = ''
---

<Layout title={title} , description={description} , og_image={og_image}>
  <main id="works-list" class="p-works-list sub-page">
    <MV
      title={news.title}
      bgImg="/assets/images/works.JPG"
      imgClass="web-team__mv__works-bg"
      items={[
        { text: 'TOP', link: '/' },
        { text: '更新情報', link: '/news/' },
        { text: news.title, link: '' },
      ]}
    />
    <section class="sub-page">
      <div class="l-container">
        <div set:html={news.content} />
      </div>
    </section>
  </main>
</Layout>
<style></style>
