---
import { Image } from 'astro:assets'
const { authorDetails } = Astro.props
import { filePath } from '@/lib/blog-helpers'
import githubImg from '@/assets/images/github.svg'
import linkImg from '@/assets/images/link.svg'

let image = '/assets/images/profile.svg'
if (authorDetails.profileImg && authorDetails.profileImg.file.url) {
  if (import.meta.env.DEV) {
    image = authorDetails.profileImg.file.url
  } else {
    image = filePath(new URL(authorDetails.profileImg.file.url))
  }
}

let alt = 'このブログを書いた人の画像'
if (authorDetails.name  != null){
    alt = authorDetails.name + 'の画像';
}
---

<div class="blog-author">
  <div class="blog-author__profile">
    <img src={image} alt={alt} loading="lazy" width="60" height="60"/>
    <div class="blog-author__detail">
      <h4>{authorDetails?.name}</h4>
      {
        authorDetails.gitHubUrl ? (
          <a href={authorDetails?.gitHubUrl} target="_blank" rel="noopener">
            <Image src={githubImg} alt="GitHubのロゴ" />
          </a>
        ) : null
      }
      {
        authorDetails.link ? (
          <a href={authorDetails?.link}>
            <Image src={linkImg} alt="リンクのロゴ" />
          </a>
        ) : null
      }
    </div>
  </div>
  <p>
    {authorDetails?.description}
  </p>
</div>
