---
import { Image } from 'astro:assets'
const { authorDetails } = Astro.props
import githubImg from '@/assets/images/github.svg'
import linkImg from '@/assets/images/link.svg'
---

<div class="blog-author">
  <div class="blog-author__profile">
    <img src={authorDetails?.profileImg} />
    <div class="blog-author__detail">
      <h4>{authorDetails?.name}</h4>
      {
        authorDetails.gitHubUrl ? (
          <a href={authorDetails?.gitHubUrl} target="_blank" rel="noopener">
            <Image src={githubImg} alt="GitHubのロゴ" />
          </a>
        ) : null
      }
      {
        authorDetails.link ? (
          <a href={authorDetails?.link}>
            <Image src={linkImg} alt="リンクのロゴ" />
          </a>
        ) : null
      }
    </div>
  </div>
  <p>
    {authorDetails?.description}
  </p>
</div>
