---
import type { SelectProperty } from '../lib/interfaces.ts'
import { getTagLink } from '../lib/blog-helpers.ts'
import NoContents from './NoContents.astro'
import '../styles/notion-color.css'

export interface Props {
  heading: string
  tags: SelectProperty[]
}

const { heading, tags } = Astro.props
---

<div class="blog-tags-link">
  <h2>{heading}</h2>
  {
    tags.length === 0 ? (
      <NoContents contents={tags} />
    ) : (
      <ul>
        {tags.map((tag: SelectProperty) => (
          <li>
            <a href={getTagLink(tag.name)} class={`tag ${tag.color}`}>
              {tag.name}
            </a>
          </li>
        ))}
      </ul>
    )
  }
</div>